@media screen and (max-width: 560px) {
  .header__info_small-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    order: 1;
    box-sizing: border-box;
    border-bottom: 1px solid #545454;
    padding: 40px 0 40px;
  }
}
