.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background: url(./../../../images/icons/close-icon.svg) no-repeat center;
  border: 0;
  padding: 0;
}

.popup__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 568px) {
  .popup__close {
    width: 20px;
    height: 20px;
    background-size: 100%;
    right: 0;
    top: -36px;
  }
}
