.elements__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-template-rows: 361px;
  grid-auto-rows: 361px;
  row-gap: 20px;
  column-gap: 17px;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: inherit;
}
