.footer {
  padding-top: 60px;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 48px 30px 0;
  }
}

@media screen and (max-width: 560px) {
  .footer {
    padding: 48px 19px 0;
  }
}

