@media screen and (max-width: 560px) {
  .header__menu-btn_close {
    position: absolute;
    top: 154px;
    right: 20px;
    width: 20px;
    height: 20px;
    background-image: url("../../../../images/icons/close-icon.svg");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    order: 2;
  }

  .header__menu-btn_close div {
    display: none;
  }
}
