.popup__container {
  box-sizing: border-box;
  width: 430px;
  min-height: 330px;
  background-color: #fff;
  padding: 34px 36px 37px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  border-radius: 10px;
}

@media (max-width: 568px) {
  .popup__container {
    width: 282px;
    padding: 25px 22px;
  }
}
