.footer__content {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #545454;
  margin: 0;
}


@media screen and (max-width: 560px) {
  .footer__content {
    font-size: 14px;
  }
}
