.profile__content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

@media screen and (max-width: 850px) {
  .profile__content {
    margin-bottom: 32px;
    margin-right: 0;
  }
}

@media screen and (max-width: 560px) {
  .profile__content {
    flex-direction: column;
  }
}
